* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  } 
  
  button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    border: 2px solid #ff7272;
    width: 50%;
    margin: 20px auto;
    padding: 20px 40px;
    color: white;
    background-color: #ff7272;
    display: block;
  }
  
  button:hover {
    color: #ff7272;
    background-color: white;
  }